[run]
source = 
    services
    
omit =
    */tests/*
    */venv/*
    */__pycache__/*
    */migrations/*
    */settings.py
    */setup.py
    */conftest.py
    */docs/*
    */tests.py
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    
[html]
directory = coverage_html_report